<!DOCTYPE html>
<html>
<head>
  <title>Compare Teams</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href = "/">Home</a>
  <h1>Compare Teams</h1>
  <p>Here, the user can compare the statistics for multiple teams.</p>
</body>
</html>
