<!DOCTYPE html>
<html>
<head>
  <title>Compare Players</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <a href = "/">Home</a>
  <h1>Compare Players</h1>
  <p>Here, the user can compare the statistics for multiple players.</p>
</body>
</html>
