<html>
<head>
<title>Rankings</title>
</head>
<body>
 <h1>Rankings</h1>
 <ol type="1">
  <li><a href="Bryant">Bryant</a></li>
  <li><a href="Lebron">Lebron</a></li>
  <li><a href="Jordan">Jordan</a></li>
<li><a href="Odom">Odom</a></li>
<li><a href="Paul">Paul</a></li>
</ol>
<form class="example" action="/action_page.php">
  <input type="text" placeholder="Search Player" name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

 <hr/>
</body>
</html>
