<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" > -->

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(() => {
    $('#searchButton').click(() => {
      const reqUrl = 'players/' + $('#nameBox').val();
      /*
      TODO: WORK ON REMOVE SPACE BETWEEN NAMES
      */
      console.log(reqUrl);
      $.ajax({
        url: reqUrl,
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#name').html("Name: " + data.name);
          $('#position').html("Position: " + data.position);
          $('#fieldGoal').html("FG%: " + data.fieldGoalPercent);
          $('#freeThrow').html("FT%: " + data.freeThrowPercent);
          $('#rebounds').html("RPG: " + data.rebound);
          $('#assists').html("APG: " + data.assist);
          $('#blocks').html("BPG: " + data.block);
          $('#minutes').html("MPG: " + data.minutesPlayed);
          $('#points').html("PPG: " + data.points);
        },
      });
    });

    $('#matchButton').click(() =>{
      $.ajax({
        url: 'matches/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#matches').append("<b>" + "Todays Games" + "</b>");
          data.forEach(function(par) {
            $.ajax({
              url: 'matches/' + par,
              type: 'GET',
              dataType: 'json',
              success: (data) =>{
                $('#matches').append("<ul>" + par + " vs. " + data.opponent + "</ul>");
                console.log(data);
              },
            });
          });
        },
      });
    });

    $('#rankingsButton').click(() => {
      $.ajax({
        url: 'players/',
        type: 'GET',
        dataType : 'json',
        success: (data) => {
          console.log('You received some data!', data);
          $('#status').html('All users: ' + data);
        },
      });
    });

    //TEAM STANDING BUTTONS
    $('#team1').click(() => {
      $.ajax({
        url: 'teams/HOU',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#overall1').html('Overall Record: ' + data.overall);
          $('#home1').html('Home Record: ' + data.home);
          $('#away1').html('Away Record: ' + data.road);
        },
      });
    });

    $('#team2').click(() => {
      $.ajax({
        url: 'teams/TOR',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#overall2').html('Overall Record: ' + data.overall);
          $('#home2').html('Home Record: ' + data.home);
          $('#away2').html('Away Record: ' + data.road);
        },
      });
    });

    $('#team3').click(() => {
      $.ajax({
        url: 'teams/GSW',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#overall3').html('Overall Record: ' + data.overall);
          $('#home3').html('Home Record: ' + data.home);
          $('#away3').html('Away Record: ' + data.road);
        },
      });
    });

    $('#team4').click(() => {
      $.ajax({
        url: 'teams/BOS',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#overall4').html('Overall Record: ' + data.overall);
          $('#home4').html('Home Record: ' + data.home);
          $('#away4').html('Away Record: ' + data.road);
        },
      });
    });

    $('#team5').click(() => {
      $.ajax({
        url: 'teams/PHI',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
          $('#overall5').html('Overall Record: ' + data.overall);
          $('#home5').html('Home Record: ' + data.home);
          $('#away5').html('Away Record: ' + data.road);
        },
      });
    });

    $(document).ajaxError(() => {
      $('#status').html('Error: unknown ajax error!');
    });
  });
</script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>

  <div class="row">
    <div class="three-section">
      <div id="left-triple-section">
        <h1>Rankings</h1>

        <div class="content-card" id="player-rankings">

          <ol type="1">
            <li id="rank1"><a href="/players/JamesHarden">James Harden</a></li>
            <li id="rank2"><a href="/players/AnthonyDavis">Anthony Davis</a></li>
            <li id="rank3"><a href="/players/GiannisAntetokounmpo">Giannis Antetokounmpo</a></li>
            <li id="rank4"><a href="/players/DamianLillard">Damian Lillard</a></li>
            <li id="rank5"><a href="/players/Stephen Curry">Stephen Curry</a></li>
          </ol>

        </div>
        <div>
          <button id="compareButton">Compare Players</button>
        </div>
      </div>

      <div id="middle-triple-section">
        <h1>Overall Standings</h1>
        <div class="content-card" id="player-trending">
          <ol type="1">
            <li>
              <button id="team1">Houston Rockets</button>
              <div id="overall1"></div>
              <div id="home1"></div>
              <div id="away1"></div>
            </li>
            <li>
              <button id="team2">Toronto Raptors</button>
              <div id="overall2"></div>
              <div id="home2"></div>
              <div id="away2"></div>
            </li>
            <li>
              <button id="team3">Golden State Warriors</button>
              <div id="overall3"></div>
              <div id="home3"></div>
              <div id="away3"></div>
            </li>
            <li>
              <button id="team4">Boston Celtics</button>
              <div id="overall4"></div>
              <div id="home4"></div>
              <div id="away4"></div>
            </li>
            <li>
              <button id="team5">Philadelphia 76ers</button>
              <div id="overall5"></div>
              <div id="home5"></div>
              <div id="away5"></div>
            </li>
          </ol>
        </div>
        <div>
          <button id="compareButton_1">Compare Players</button>
        </div>
      </div>

      <div id="right-triple-section">
        <h1>Upcoming Games</h1>
        <div class="content-card" id="player-trending">
          <ol type="1">
            <li id="rank1">Lakers vs. Magics</li>
            <li id="rank2">Wizards vs. Clippers</li>
            <li id="rank3">Warriors vs. Cavaliers</li>
            <li id="rank4">Raptors vs. Pelicans</li>
            <li id="rank5">Nets vs. Knicks</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <!--
  Search Player: <input id="nameBox" type="text" size="20"/>
  <button id="searchButton">Find Player</button> -->

  {{!<button id="matchButton">Display Matches</button>}}

  {{!<div>Google Maps API will go here.</div>}}
  <!-- <div class="row">
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>
    <p>Hello</p>

  </div> -->
  <div class="row">
    <div class="two-section" id="left-double-section">
      <h1>Game Locations</h1>
      <div class="content-card" id="player-statistics">

      </div>
    </div>
    <div class="two-section" id="right-double-section">
      <h1>Trending</h1>
      <div class="content-card" id="player-trending">
      <a class="twitter-timeline" href="https://twitter.com/wojespn?ref_src=twsrc%5Etfw">Tweets by wojespn</a>
      </div>
    </div>
  </div>
  <hr/>


  <div id="name"></div>
  <div id="position"></div>
  <div id="fieldGoal"></div>
  <div id="freeThrow"></div>
  <div id="rebounds"></div>
  <div id="assists"></div>
  <div id="steals"></div>
  <div id="blocks"></div>
  <div id="minutes"></div>
  <div id="points"></div>
</body>
</html>
