<html>
<head>
<title>Rankings</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(() => {
	console.log(rank1);
	$('#rank1').click(() =>{
		console.log("Submit");
	});
});

$(document).ready(() => {
  $('#stadiumButton').click(() => {
		$.ajax({
		 url: 'players/',
		 type: 'GET',
		 dataType : 'json',
		 success: (data) => {
			 console.log('You received some data!', data);
			 $('#status').html('All users: ' + data);
		 },
	 });
 });
</script>

</head>
<body>
	<h1>Rankings</h1>
	<ol type="1">
	<li id="rank1"><a href="/players/Kobe">Kobe Bryant</a></li>
	<li id="rank2"><a href="/players/Lebron">Lebron James</a></li>
	<li id="rank3"><a href="/players/Durant">Kevin Durant</a></li>
	<li id="rank4"><a href="/players/Harden">James Harden</a></li>
	<li id="rank5"><a href="/players/Embiid">Joel Embiid</a></li>
	</ol>
	Search Player: <input id="nameBox" type="text" size="20"/>
  <button id="searchButton">Find Player</button>
	<button id="stadiumButton">Get current stadiums</button>

	<div>Google Maps API will go here.</div>
  <script type="text/javascript">
    document.getElementById("searchButton").onclick = function () {
        location.href = "/player";
    };
</script>
<hr/>

<div id="status"></div>
</body>
</html>
