<html>
<head>
<title>Rankings</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(() => {
  $('#stadiumButton').click(() => {
		$.ajax({
		 url: 'players/',
		 type: 'GET',
		 dataType : 'json',
		 success: (data) => {
			 console.log('You received some data!', data);
			 $('#status').html('All users: ' + data);
		 },
	 });
 });

	$('#searchButton').click(() => {
		const reqUrl = 'players/' + $('#nameBox').val();
		console.log(reqUrl);
		$.ajax({
			url: reqUrl,
			type: 'GET',
			dataType: 'json',
			success: (data) => {
				if(data.ppg && data.mpg && data.best && data.worst && data.img){
					console.log("Found player: ", data);
					if(data.img == "kobe.png"){
						location.href = "/player";
					}
				}else{
					console.log("Error, could not find ", data);
				}
			},
		});
	});

	$('#matchButton').click(() =>{
		$.ajax({
			url: 'matches/',
			type: 'GET',
			dataType: 'json',
			success: (data) => {
				$('#matches').append("<b>" + "Todays Games" + "</b>");
				data.forEach(function(par) {
					$.ajax({
						url: 'matches/' + par,
						type: 'GET',
						dataType: 'json',
						success: (data) =>{
							$('#matches').append("<ul>" + par + " vs. " + data.opponent + "</ul>");
							console.log(data);
						},
					});
				});
			},
		});
	});

	$(document).ajaxError(() => {
		$('#status').html('Error: unknown ajax error!');
	});
});
</script>

</head>
<body>
	<h1>Rankings</h1>
	<ol type="1">
	<li id="rank1"><a href="/players/Kobe">Kobe Bryant</a></li>
	<li id="rank2"><a href="/players/Lebron">Lebron James</a></li>
	<li id="rank3"><a href="/players/Durant">Kevin Durant</a></li>
	<li id="rank4"><a href="/players/Harden">James Harden</a></li>
	<li id="rank5"><a href="/players/Embiid">Joel Embiid</a></li>
	</ol>
	Search Player: <input id="nameBox" type="text" size="20"/>
  	<button id="searchButton">Find Player</button>
	<button id="stadiumButton">Get Current Stadiums</button>
	<button id="matchButton">Display Matches</button>
	<div>Google Maps API will go here.</div>
<hr/>

<div id="status"></div>
<div id="currentPlayer"></div>
<div id="matches"></div>
</body>
</html>
