<!DOCTYPE html>
<html>
<head>
<title>Player</title>
</head>
hi this page is not done i am still working on it
-david
<h1>Kobe Bryant</h1>
<button type="button">Compare Players</button>
<h2>Statistics</h2>
<table>
  <tr>
    <th>Points Per Game</th>
    <th>X</th>
  </tr>
  <tr>
    <th>Minutes Played</th>
    <th>X</th>
  </tr>
  <tr>
    <th>Best Arena Played</th>
    <th>X</th>
  </tr>
  <tr>
    <th>Worst Arena Played</th>
    <th>X</th>
  </tr>
</table>
<h2>Recent News</h2>
something for grabbing news/information (maybe a twitter feed API)
</html>


Screen #2 is easily discoverable by following links from the home page,
and is complete in a way that clearly shows users what can be done on that screen.
Screen #2 includes all features or buttons needed to perform all tasks that can be done on that screen.
(Don't worry about CSS styling or making things look good aesthetically.)
