<!DOCTYPE html>
<html>
<head>
  <title>Player</title>
  <link href="/css/styles.css" rel="stylesheet">
 <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" > -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img href="/" src="../logo.png" alt="Logo" style="height: 36px; margin-right: 16px"></img>
    <a class="navbar-brand" href="/" style="color: #E67747; font-weight: 600;">basket.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Compare
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Compare Players</a>
              <a class="dropdown-item" href="#">Compare Teams</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
<h1>Player Detail</h1>
<div class="content-card" id="player-detail">
  <div class="player-bio">
    <div class="player-picture-wrapper">
      <img class="player-picture" src="https://d2cwpp38twqe55.cloudfront.net/req/201804182/images/players/jamesle01.jpg"></img>
    </div>
    <h2>Lebron James</h2>
  </div>
  <div class="player-information" id="one">
    <h3>Position</h3>
    <p>Small Forward</p>
    <h3>Height</h3>
    <p>6-6</p>
  </div>
  <div class="player-information" id="two">
    <h3>Shoots</h3>
    <p>Right</p>
    <h3>Weight</h3>
    <p>212 pounds</p>
  </div>
  <div class="player-information" id="three">
    <h3>Born</h3>
    <p>8/23/1978</p>
    <h3>Country</h3>
    <p>USA</p>
  </div>
</div>
  <div class="two-section" id="left-double-section">
    <h1>2017-2018 Statistics</h1>
    <div class="content-card" id="player-statistics">
      <table>
        <tr>
          <td class="data-label"></td>
          <td class="name-label" id="name1">Lebron James</td>
          <td class="name-lable" id="name2">Kevin Durant</td>
        </tr>
        <tr>
          <td class="data-label">Field Goal %</td>
          <td class="data-value" id="field-goal1"></td>
          <td class="data-value" id="field-goal2"></td>
        </tr>
        <tr>
          <td class="data-label">Free Throw %</td>
          <td class="data-value" id="free-throw1"></td>
          <td class="data-value" id="free-throw2"></td>
        </tr>
        <tr>
          <td class="data-label">Assists per Game</td>
          <td class="data-value" id="assists1"></td>
          <td class="data-value" id="assists2"></td>
        </tr>
        <tr>
          <td class="data-label">Steals per Game</td>
          <td class="data-value" id="steals1"></td>
          <td class="data-value" id="steals2"></td>
        </tr>
        <tr>
          <td class="data-label">Blocks per Game</td>
          <td class="data-value" id="blocks1"></td>
          <td class="data-value" id="blocks2"></td>
        </tr>
        <tr>
          <td class="data-label">Points per Game</td>
          <td class="data-value" id="points1"></td>
          <td class="data-value" id="points2"></td>
        </tr>
        <tr>
          <td class="data-label">Minutes per Game</td>
          <td class="data-value" id="minutes1"></td>
          <td class="data-value" id="minutes2"></td>
        </tr>
      </table>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Add a Player to Compare" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="two-section" id="right-double-section">
    <h1>Trending</h1>
    <div class="content-card" id="player-trending">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/LebronJames" data-widget-id="991223727323951104">#LebronJames Tweets</a>
    </div>
  </div>
</div>
</body>
