<!DOCTYPE html>
<html>
<head>
  <title>Player</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</head>
<body>
<a href="/">Home (will be a logo)</a>
<h1>Player Detail</h1>
<div class="content-card" id="player-detail">
  <div class="player-bio">
    <div class="player-picture-wrapper">
      <img class="player-picture" src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png&w=350&h=254"></img>
    </div>
    <h2>Lebron James</h2>
  </div>
  <div class="player-information" id="one">
    <h3>Position</h3>
    <p>Small Forward</p>
    <h3>Height</h3>
    <p>6-6</p>
  </div>
  <div class="player-information" id="two">
    <h3>Shoots</h3>
    <p>Right</p>
    <h3>Weight</h3>
    <p>212 pounds</p>
  </div>
  <div class="player-information" id="three">
    <h3>Born</h3>
    <p>8/23/1978</p>
    <h3>Country</h3>
    <p>USA</p>
  </div>
</div>
  <div class="two-section" id="left-double-section">
    <h1>2017-2018 Statistics</h1>
    <div class="content-card" id="player-statistics">
      <table>
        <tr>
          <td class="data-label">Field Goal %</td>
          <td class="data-value" id="field-goal"></td>
        </tr>
        <tr>
          <td class="data-label">Free Throw %</td>
          <td class="data-value" id="free-throw"></td>
        </tr>
        <tr>
          <td class="data-label">Assists per Game</td>
          <td class="data-value" id="assists"></td>
        </tr>
        <tr>
          <td class="data-label">Steals per Game</td>
          <td class="data-value" id="steals"></td>
        </tr>
        <tr>
          <td class="data-label">Blocks per Game</td>
          <td class="data-value" id="blocks"></td>
        </tr>
        <tr>
          <td class="data-label">Points per Game</td>
          <td class="data-value" id="points"></td>
        </tr>
        <tr>
          <td class="data-label">Minutes per Game</td>
          <td class="data-value" id="minutes"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="two-section" id="right-double-section">
    <h1>Trending</h1>
    <div class="content-card" id="player-trending">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/LebronJames" data-widget-id="991223727323951104">#LebronJames Tweets</a>
    </div>
  </div>
</div>
</body>
