<!DOCTYPE html>
<!--
This file, player.handlebars, acts as the "Players" page for our web application.
This page contains a number of key features and pieces of information.
First, it contains a search/input bar to allow the user to enter their player of choice.
It also allocates a card to display player information, a card for player statistics, and a card for player data visualization, powered by Plot.ly.
The player information is stored within our back-end database, which we access using a Javascript script that uses GET/POST requests.
These allow information to be sent to/from the user on the front end and the database in the back end.
As soon as the user enters in their player of choice in the top input field, a GET request is made and the player's information, statistics, and visualization is populated.
For our statitstics card, the user also has the option of adding an additional player to compare with.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Player</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script>
$(document).ready(() => {
  var parameters = location.search.substring(1).split("&");
  //If there are parameters within URL due to links from home page
  if(parameters != ""){
    var temp = parameters[0].split("=");
    const first = unescape(temp[1]);
    temp = parameters[1].split("=");
    const last = unescape(temp[1]);
    const req = 'players/' + first + last;
    const shortUrl = last.substring(0,5).toLowerCase() + first.substring(0,2).toLowerCase();
    let playerImg = shortUrl + "01.jpg";
    if((first == "Anthony" && last == "Davis") || (first == "Markieff" && last == "Morris")){
      playerImg = shortUrl + "02.jpg";
    }
    const playerUrl = 'https://d2cwpp38twqe55.cloudfront.net/req/201804182/images/players/';

    // AJAX GET call for data visualization
    $.ajax({
      url: '/scrape/' + first + last,
      type: 'GET',
      dataType: 'json',
      success: (data) =>{
        var split = [
          {
            z:[[Number(data[0]) + Number(data[4]) / 2, Number(data[1]) + Number(data[4]) / 2, Number(data[2]) + Number(data[4]) / 2, Number(data[3]) + Number(data[4]) / 2],
            [Number(data[0]) + Number(data[5]) / 2, Number(data[1]) + Number(data[5]) / 2, Number(data[2]) + Number(data[5]) / 2, Number(data[3]) + Number(data[5]) / 2],
            [Number(data[0]) + Number(data[6]) / 2, Number(data[1]) + Number(data[6]) / 2, Number(data[2]) + Number(data[6]) / 2, Number(data[3]) + Number(data[6]) / 2]],
            x: ['First', 'Second', 'Third', 'Fourth'],
            y: ['< 3 Minutes', '3-6 Minutes', '> 6 Minutes'],
            type: 'heatmap'
          }
        ];
        Plotly.newPlot('chart1', split);
      },
    });

    // AJAX GET call for player statistics
    $.ajax({
      url: req,
      type: 'GET',
      dataType: 'json',
      success: (data) => {
        $('#player-picture').attr('src',playerUrl + playerImg);
        $('#player-name').html(data.name);
        $('#player-age').html(data.age);
        $('#name1').html(data.name);
        $('#player-team').html(data.team);
        $('#player-position').html(data.position);
        $('#field-goal1').html(data.fieldGoalPercent);
        $('#free-throw1').html(data.freeThrowPercent);
        $('#assists1').html(data.assist);
        $('#steals1').html(data.steal);
        $('#blocks1').html(data.block);
        $('#points1').html(data.points);
        $('#minutes1').html(data.minutesPlayed);
      },
    });
  }

  // when the button is clicked, run this function
  $('#test-btn').click(() => {
    const testSplit = $('#testing').val().split(' ');
    const firstName = testSplit[0];
    const lastName = testSplit[1];
    const req = 'players/' + firstName + lastName;
    const shortUrl = lastName.substring(0,5).toLowerCase() + firstName.substring(0,2).toLowerCase();
    let playerImg = shortUrl + "01.jpg";
    if((firstName == "Anthony" && lastName == "Davis") || (firstName == "Markieff" && lastName == "Morris")){
      playerImg = shortUrl + "02.jpg";
    }
    const playerUrl = 'https://d2cwpp38twqe55.cloudfront.net/req/201804182/images/players/';

    // AJAX GET call for data visualization
    $.ajax({
      url: '/scrape/' + firstName + lastName,
      type: 'GET',
      dataType: 'json',
      success: (data) =>{
        console.log(data);
        var split = [
          {
            z:[[Number(data[0]) + Number(data[4]) / 2, Number(data[1]) + Number(data[4]) / 2, Number(data[2]) + Number(data[4]) / 2, Number(data[3]) + Number(data[4]) / 2],
            [Number(data[0]) + Number(data[5]) / 2, Number(data[1]) + Number(data[5]) / 2, Number(data[2]) + Number(data[5]) / 2, Number(data[3]) + Number(data[5]) / 2],
            [Number(data[0]) + Number(data[6]) / 2, Number(data[1]) + Number(data[6]) / 2, Number(data[2]) + Number(data[6]) / 2, Number(data[3]) + Number(data[6]) / 2]],
            x: ['First', 'Second', 'Third', 'Fourth'],
            y: ['< 3 Minutes', '3-6 Minutes', '> 6 Minutes'],
            type: 'heatmap'
          }
        ];
        Plotly.newPlot('chart1', split);
      },
    });

    // AJAX GET call for player statistics
    $.ajax({
      url: req,
      type: 'GET',
      dataType: 'json',
      success: (data) => {
        console.log(data);
        $('#player-picture').attr('src',playerUrl + playerImg);
        $('#player-name').html(data.name);
        $('#player-age').html(data.age);
        $('#name1').html(data.name);
        $('#player-team').html(data.team);
        const teamSearch = "/team?name=" + data.team;
        $('#player-team').attr('href',teamSearch);
        $('#player-position').html(data.position);
        $('#field-goal1').html(data.fieldGoalPercent);
        $('#free-throw1').html(data.freeThrowPercent);
        $('#assists1').html(data.assist);
        $('#steals1').html(data.steal);
        $('#blocks1').html(data.block);
        $('#points1').html(data.points);
        $('#minutes1').html(data.minutesPlayed);
      },
    });
  });

  //COMPARE PLAYER BUTTON
  $('#compare-btn').click(() => {
    const cmpSplit = $('#compareSearch').val().split(' ');
    const first = cmpSplit[0];
    const last = cmpSplit[1];
    const req = 'players/' + first + last;
    const cpmImg = last.substring(0,5).toLowerCase() + first.substring(0,2).toLowerCase() + "01.jpg";
    const playerUrl = 'https://d2cwpp38twqe55.cloudfront.net/req/201804182/images/players/';
    // AJAX GET request for information on 2nd player
    $.ajax({
      url: req,
      type: 'GET',
      dataType: 'json',
      success: (data) => {
        $('#player-name').html(data.name);
        $('#name2').html(data.name);
        $('#field-goal2').html(data.fieldGoalPercent);
        $('#free-throw2').html(data.freeThrowPercent);
        $('#assists2').html(data.assist);
        $('#steals2').html(data.steal);
        $('#blocks2').html(data.block);
        $('#points2').html(data.points);
        $('#minutes2').html(data.minutesPlayed);

        // color-code "better" player
        updateCellColor("#field-goal1", "#field-goal2", data.fieldGoalPercent);
        updateCellColor("#free-throw1", "#free-throw2", data.freeThrowPercent);
        updateCellColor("#assists1", "#assists2", data.assist);
        updateCellColor("#steals1", "#steals2", data.steal);
        updateCellColor("#blocks1", "#blocks2", data.block);
        updateCellColor("#points1", "#points2", data.points);
        updateCellColor("#minutes1", "#minutes2", data.minutesPlayed);
      },
    });
  });
});

// function to update cell color for "better" player
function updateCellColor(field1, field2, data) {
  $(field1).css("background-color", "white");
  $(field2).css("background-color", "white");

  if (parseFloat($(field1).html()) > parseFloat($(field2).html())) {
    $(field1).css("background-color", "bisque");
    console.log("hightlighting 1");
  } else {
    $(field2).css("background-color", "bisque");
    console.log("hightlighting 2");
  }
}
</script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img href="/" src="../logo.png" alt="Logo" style="height: 36px; margin-right: 16px"></img>
    <a class="navbar-brand" href="/" style="color: #E67747; font-weight: 600;">basket.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/player">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/prediction">Predict</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="text-align: center">
    <input id="testing" placeholder="Find a Player" style="width: 80%; margin-top: 16px; height: 48px"></input>
    <button class="btn" id="test-btn">Search</button>
  </div>
  <h1>Player Detail</h1>
  <div class="content-card" id="player-detail">
    <div class="row">
      <div class="player-bio col-3">
        <div class="player-picture-wrapper">
          <img style="height: 100%; width: auto;" id="player-picture" src='https://image.flaticon.com/icons/png/128/158/158387.png'></img>
        </div>
        <div>
          <h2 id="player-name"></h2>
        </div>
      </div>
      <div class="container col-9">
        <div class="row">
          <div class="col-sm" >

            <p style="font-size: 2rem">Position</p>
            <p id="player-position" style="font-size: 2rem; background-color: lemonchiffon"</p>
            </div>
            <div class="col-sm">

              <p style="font-size: 2rem">Team</p>
              <a id="player-team" href="/team?name="  style="font-size: 2rem; background-color: lemonchiffon"></a>
              </div>
              <div class="col-sm">

                <p style="font-size: 2rem">Age</p>
                <p id="player-age" style="font-size: 2rem; background-color: lemonchiffon"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h1>2017-2018 Statistics</h1>

      <div class="content-card" id="player-statistics" style="overflow-x: scroll;">
        <table>
          <tr>
            <td></td>
            <td class="data-label">Field Goal %</td>
            <td class="data-label">Free Throw %</td>
            <td class="data-label">Assists per Game</td>
            <td class="data-label">Steals per Game</td>
            <td class="data-label">Blocks per Game</td>
            <td class="data-label">Points per Game</td>
            <td class="data-label">Minutes per Game</td>
          </tr>
          <tr>
            <td class="name-label" id="name1">Player 1</td>
            <td class="data-value" id="field-goal1"></td>
            <td class="data-value" id="free-throw1"></td>
            <td class="data-value" id="assists1"></td>
            <td class="data-value" id="steals1"></td>
            <td class="data-value" id="blocks1"></td>
            <td class="data-value" id="points1"></td>
            <td class="data-value" id="minutes1"></td>
          </tr>
          <tr>
            <td class="name-lable" id="name2">Player 2</td>
            <td class="data-value" id="field-goal2"></td>
            <td class="data-value" id="free-throw2"></td>
            <td class="data-value" id="assists2"></td>
            <td class="data-value" id="steals2"></td>
            <td class="data-value" id="blocks2"></td>
            <td class="data-value" id="points2"></td>
            <td class="data-value" id="minutes2"></td>
          </tr>
        </table>
        <div>
          <input class="form-control mr-sm-2" id="compareSearch"  placeholder="Add a Player to Compare" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="compare-btn">Search</button>
        </div>
      </div>
      <div>
        <h1>Players Field Goal Percentage Per Quarter</h1>
        <div class="container" id="chart1">
        </div>
      </div>
    </body>
    </html>
