<!DOCTYPE html>
<html>
<head>
  <title>Team</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
</head>
<body>
<a href="/">Home (will be a logo)</a>
<h1>Team Detail</h1>
<div class="content-card" id="player-detail">
  <div class="player-bio">
    <div class="player-picture-wrapper">
      <img class="player-picture"></img>
    </div>
    <h2>Lorem Ipsum</h2>
  </div>
  <div class="player-information" id="one">
    <h3>Label</h3>
    <p>Value</p>
    <h3>Label</h3>
    <p>Value</p>
  </div>
  <div class="player-information" id="two">
    <h3>Label</h3>
    <p>Value</p>
    <h3>Label</h3>
    <p>Value</p>
  </div>
  <div class="player-information" id="three">
    <h3>Label</h3>
    <p>Value</p>
    <h3>Label</h3>
    <p>Value</p>
  </div>
</div>
  <div class="two-section" id="left-double-section">
    <h1>Team Statistics</h1>
    <div class="content-card" id="player-statistics">
      <table>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="1">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="2">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="3">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="4">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="4">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="5">DATA</td>
        </tr>
        <tr>
          <td class="data-label">Label</td>
          <td class="data-value" id="6">DATA</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="two-section" id="right-double-section">
    <h1>Trending</h1>
    <div class="content-card" id="player-trending">
      <a class="twitter-timeline" href="https://twitter.com/hashtag/LebronJames" data-widget-id="991223727323951104">#LebronJames Tweets</a>
    </div>
  </div>
</div>
</body>
