<!DOCTYPE html>
<html>
<head>
  <title>Player</title>
</head>
<a href = "/">Home</a>
<h1 id="player-name">Lakers</h1>
<img id="player-image" src="/kobe.png" alt="Kobe Bryant"></img>
<div>
  <a href="/compare">Compare</a>
</div>
<h2>Statistics</h2>
<table>
  <tr>
    <th>Points Per Game</th>
    <th id="points-per-game">20</th>
  </tr>
  <tr>
    <th>Minutes Played</th>
    <th id="minutes-per-game">40</th>
  </tr>
  <tr>
    <th>Best Arena Played</th>
    <th id="best-arena-played">Staples Center</th>
  </tr>
  <tr>
    <th>Worst Arena Played</th>
    <th id="worst-arena-played">Moda Center</th>
  </tr>
</table>
<h2>Recent News</h2>
Twitter Feed API will go here.
</html>
